.mainNav {
  background: #060047;
  position: relative;
  z-index: 9999999;
}

.phoneNav {
  background: white;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: -1200%;
  right: 0;
  color: black;
  font-weight: 600;
  font-size: 22px;
  padding: 0px 20px;
  transition: all linear 0.4s;
  z-index: -1;
  opacity: 0;
}

.phoneDisplay {
  opacity: 1;
  top: 100%;
}
